extends layout
block head
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3Nt-cdB_mNXe_1qYOVv3xSoVUQ6S6wRo&libraries=geometry")
  script(src='/javascripts/index.js')
  script(src="//code.jquery.com/jquery-1.11.3.min.js")
  script(type='text/javascript').
    var data = !{divvyData}
block content
  #panel
    input(onclick="toggleStations();" type="button" value="Toggle Stations")
    input(onclick="findNearestStation(startLocation.getPosition());" type="button" value="Closest Station")
  #map-canvas
